<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<script>
    $(document).ready(function lineList() {
        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"http://localhost:8080/admin/allLine",
            type:"get",
            dataType:"json",
            success:function (data) {
                var html = "";
                for(var i=0;i<data.length;i++) {
                    html +="<div class=\"panel-group\"><div class=\"panel panel-default\">" +
                           "    <div class=\"panel-heading\" style=\"background:#5599FF; color:#FFF\"><h4 class=\"panel-title\">" +
                           "        <a data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#"+i+"\">"+data[i].lineName+"" +
                           "            <span style='margin-left: 80%;display: inline'>"+
                           "               <a id = '"+data[i].lineName+"' data-toggle=\"modal\" data-target=\"#addStationModal\" class=\"btn btn-sm btn-success\" onclick=\"openModal('/admin/toAddStation','addStationModal',this.id)\">添加站点</a>" +
                           "               <a id = '"+data[i].lineName+"' data-toggle=\"modal\" data-target=\"#updateLineModal\" class=\"btn btn-sm btn-warning\" onclick=\"openModal('/admin/toUpdateLine','updateLineModal',this.id)\">修改名称</a>" +
                           "               <a id = '"+data[i].lineName+"' data-toggle=\"modal\" data-target=\"#deleteLineModal\" class=\"btn btn-sm btn-danger\"  onclick=\"openModal('/admin/toDeleteLine','deleteLineModal',this.id)\">删除线路</a></span></a></h4></div>" +
                           "<div id=\""+i+"\" class=\"panel-collapse collapse in\"><table class=\"table table-striped table-bordered\">" +
                           "<thead><tr><th  name=\"addcheckbox\" style=\"width: 30px\"><input id = 'allCheck"+i+"' type=\"checkbox\" onclick='ckAll("+i+")'/></th><th style='width: 200px;text-align: center'>站点名称</th><th style='text-align: center;'>场景地址</th><th style=\"text-align: center;width: 300px\">操作</th></tr></thead><tbody>" ;
                    for(var j=0;j<data[i].station.length;j++) {
                        html+="<tr><td   style=\"width: 30px\"><input name = 'check"+i+"' type=\"checkbox\"/></td><td style='width: 200px;text-align: center'>"+data[i].station[j].stationName+"</td><td style='text-align: center'>"+data[i].station[j].sceneId+"</td>" +
                              "   <td style=\"text-align: center;\"><a id='"+data[i].station[j].stationId+"' class=\"btn btn-sm btn-success\" href='/admin/thingsManage?id="+data[i].station[j].stationId+"' >物体信息</a>" +
                              "      <a id = '"+data[i].station[j].stationId+"' data-toggle=\"modal\" data-target=\"#updateStationModal\" class=\"btn btn-sm btn-warning\" onclick=\"openModal('/admin/toUpdateStation','updateStationModal',this.id)\">修改</a>" +
                              "      <a id = '"+data[i].station[j].stationId+"' data-toggle=\"modal\" data-target=\"#deleteStationModal\" class=\"btn btn-sm btn-danger\"  onclick=\"openModal('/admin/toDeleteStation','deleteStationModal',this.id)\">删除</a>" +
                              "   </td></tr>";
                    }
                    html+="</tbody></table></div></div></div>";
                }
                document.getElementById("accordion").innerHTML = html;
            }

        });
    });

    function ckAll(i){
        var flag=document.getElementById("allCheck"+i).checked;
        var cks=document.getElementsByName("check"+i);
        for(var k=0;k<cks.length;k++){
            cks[k].checked=flag;
        }
    }

</script>
<body style="min-width: 1550px;overflow: visible">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" id="detail">
            <div class="ibox-title">
                <h3 style="display: inline;">
                    所有线路<input type="button" class="btn btn-success" data-toggle="modal" data-target="#lineModal" value="新增线路" style="margin-left: 80%;display: inline" onclick="openModal('/admin/toAddLine','lineModal')"/>
                </h3>
            </div>
<!--            数据展示-->
            <div class="ibox-content" id="accordion">
<!--                    <div class="panel-group"></div>-->
            </div>
        </div>
    </div>
</div>
<!--添加站点模态框-->
<div class="modal fade" id="addStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改线路名称模态框-->
<div class="modal fade" id="updateLineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改站点名称模态框-->
<div class="modal fade" id="updateStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--新增线路模态框-->
<div class="modal fade" id="lineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除线路模态框-->
<div class="modal fade" id="deleteLineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除站点模态框-->
<div class="modal fade" id="deleteStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>
