<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:include="import/head :: head"><title></title></head>

<script>
    $(document).ready(function() {

        var authority;

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"http://localhost:8080/sys/authorityManage",
            type:"get",
            async:false,
            dataType:"json",
            success:function (data) {
                authority = data.data;
                var html = "<div style='width:95%'><table class='table table-striped table-bordered' style='text-align:center'><thead><tr>" +
                    "<th style='text-align:center'>用户名</th><th style='text-align:center'>管理的站点</th><th style='text-align:center'>可进行的操作</th><th style='text-align:center'>操作</th></tr></thead><tbody>";
                for(var i=0;i<data.data.length;i++){
                    html+="<tr><td style='width: 200px'>"+data.data[i].username+"</td><td>"+data.data[i].stationName+"</td><td style='width:500px'><div style='float:left;width: 100px'><input type='checkbox' id='a"+i+"' value='"+data.data[i].id+"'>添加物体</div><div style='float:left;width: 100px'><input type='checkbox' id='d"+i+"' value='"+data.data[i].id+"'>删除物体</div><div style='float:left;width: 120px'><input type='checkbox' id='u"+i+"' value='"+data.data[i].id+"'>修改物体名称</div><div style='float:left;width: 120px'><input type='checkbox' id='us"+i+"' value='"+data.data[i].id+"'>修改站点名称</div></td>" +
                        "<td style='width: 200px'><a id='"+authority[i].id+"' data-toggle=\"modal\" data-target=\"#updateAdminModal\" class=\"btn btn-sm btn-warning\" onclick=\"openModal('/sys/toUpdateAdmin','updateAdminModal',this.id)\">修改</a>" +
                        "<a id='"+authority[i].id+"' data-toggle='modal' data-target='#deleteAdminModal' class='btn btn-sm btn-danger' onclick=\"openModal('/sys/toDeleteAdmin','deleteAdminModal',this.id)\">删除</a></td><tr>"
                }
                html+="</tbody></table>";
                document.getElementById("administrator").innerHTML = html;
            }
        });
        for(var s= 0;s<authority.length;s++){
            if(authority[s].sadd==="1"){
                $('#a'+s).attr("checked","checked")
            }
            if(authority[s].sdelete==="1"){
                $('#d'+s).attr("checked","checked")
            }
            if(authority[s].supdate==="1"){
                $('#u'+s).attr("checked","checked")
            }
            if(authority[s].ssupdate==="1"){
                $('#us'+s).attr("checked","checked")
            }
        }
        for(var a= 0;a<authority.length;a++){
            $('#a'+a).change(function () {
                var id=this.value;
                swal({
                    title: "确定修改该权限吗？",
                    type: "info",
                    showCancelButton:true,
                    confirmButtonText: "确认",
                    cancelButtonText:"取消"
                },function(isConfirm){
                    if(isConfirm===true){
                        $.ajax({
                            // contentType: 'application/json;charset=UTF-8',
                            url:"http://localhost:8080/sys/setAddAuthority",
                            type:"post",
                            data:{"id":id},
                            dataType:"json",
                            success:function (data) {
                            }
                        });
                    }else {
                        window.location.reload();
                    }
                });
            });
            $('#d'+a).change(function () {

                var value=this.value;
                swal({
                    title: "确定修改该权限吗？",
                    type: "info",
                    showCancelButton:true,
                    confirmButtonText: "确认",
                    cancelButtonText:"取消"
                },function(isConfirm){
                    if(isConfirm===true){
                        $.ajax({
                            // contentType: 'application/json;charset=UTF-8',
                            url:"http://localhost:8080/sys/setDeleteAuthority",
                            type:"post",
                            data:{"id":value},
                            dataType:"json",
                            success:function (data) {
                            }
                        });
                    }else {
                        window.location.reload();
                    }
                });
            });
            $('#u'+a).change(function () {

                var value=this.value;
                swal({
                    title: "确定修改该权限吗？",
                    type: "info",
                    showCancelButton:true,
                    confirmButtonText: "确认",
                    cancelButtonText:"取消"
                },function(isConfirm){
                    if(isConfirm===true){
                        $.ajax({
                            // contentType: 'application/json;charset=UTF-8',
                            url:"http://localhost:8080/sys/setUpdateAuthority",
                            type:"post",
                            data:{"id":value},
                            dataType:"json",
                            success:function (data) {
                            }
                        });
                    }else {
                        window.location.reload();
                    }
                });
            });
            $('#us'+a).change(function () {

                var value=this.value;
                swal({
                    title: "确定修改该权限吗？",
                    type: "info",
                    showCancelButton:true,
                    confirmButtonText: "确认",
                    cancelButtonText:"取消"
                },function(isConfirm){
                    if(isConfirm===true){
                        $.ajax({
                            // contentType: 'application/json;charset=UTF-8',
                            url:"http://localhost:8080/sys/setStationUpdateAuthority",
                            type:"post",
                            data:{"id":value},
                            dataType:"json",
                            success:function (data) {
                            }
                        });
                    }else {
                        window.location.reload();
                    }
                });
            })
        }
    });

</script>

<body>
<div class="ibox float-e-margins" >
    <div class="ibox-title">
        <h3 style="display: inline;">
            权限管理<input type="button" class="btn btn-success" data-toggle="modal" data-target="#addAdminModal" value="添加管理员" style="margin-left: 80%;display: inline" onclick="openModal('/sys/toAddAdmin','addAdminModal')"/>
        </h3>
    </div>
    <!--数据展示-->
    <div class="ibox-content" id="administrator">
    </div>
</div>

<!--添加管理员模态框-->
<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除管理员模态框-->
<div class="modal fade" id="deleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改管理员模态框-->
<div class="modal fade" id="updateAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script th:replace="import/script :: script"></script>
</body>
</html>