<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:include="import/head :: head"><title></title></head>

<script>
    function sadd(id) {
        swal({
            title: "确定修改该权限吗？",
            type: "info",
            showCancelButton:true,
            confirmButtonText: "确认",
            cancelButtonText:"取消"
        },function(isConfirm){
            if(isConfirm===true){
                $.ajax({
                    // contentType: 'application/json;charset=UTF-8',
                    url:"/sys/setAddAuthority",
                    type:"post",
                    data:{"id":id},
                    dataType:"json",
                    success:function (data) {
                    }
                });
            }else {
                window.location.reload();
            }
        });
    }
    function sdelete(id) {
        swal({
            title: "确定修改该权限吗？",
            type: "info",
            showCancelButton:true,
            confirmButtonText: "确认",
            cancelButtonText:"取消"
        },function(isConfirm){
            if(isConfirm===true){
                $.ajax({
                    // contentType: 'application/json;charset=UTF-8',
                    url:"/sys/setDeleteAuthority",
                    type:"post",
                    data:{"id":id},
                    dataType:"json",
                    success:function (data) {
                    }
                });
            }else {
                window.location.reload();
            }
        });
    }
    function supdate(id) {

        swal({
            title: "确定修改该权限吗？",
            type: "info",
            showCancelButton:true,
            confirmButtonText: "确认",
            cancelButtonText:"取消"
        },function(isConfirm){
            if(isConfirm===true){
                $.ajax({
                    // contentType: 'application/json;charset=UTF-8',
                    url:"/sys/setUpdateAuthority",
                    type:"post",
                    data:{"id":id},
                    dataType:"json",
                    success:function (data) {
                    }
                });
            }else {
                window.location.reload();
            }
        });
    }
    function ssupdate(id) {
        swal({
            title: "确定修改该权限吗？",
            type: "info",
            showCancelButton:true,
            confirmButtonText: "确认",
            cancelButtonText:"取消"
        },function(isConfirm){
            if(isConfirm===true){
                $.ajax({
                    // contentType: 'application/json;charset=UTF-8',
                    url:"/sys/setStationUpdateAuthority",
                    type:"post",
                    data:{"id":id},
                    dataType:"json",
                    success:function (data) {
                    }
                });
            }else {
                window.location.reload();
            }
        });
    }

    // $(document).ready(function () {
    //     $("#table").bootstrapTable({
    //         pagination: true,   //是否显示分页条
    //         pageSize: 15,   //一页显示的行数
    //         paginationLoop: false,  //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
    //         pageList: [5,10,15]  //选择每页显示多少行，数据过少时可能会没有效果
    //     });
    // })
</script>
<body>
<div class="ibox float-e-margins" >
    <div class="ibox-title">
        <h3 style="display: inline;">
            权限管理<input type="button" class="btn btn-success" data-toggle="modal" data-target="#addAdminModal" value="添加管理员" style="margin-left: 80%;display: inline" onclick="openModal('/sys/toAddAdmin','addAdminModal')"/>
        </h3>
    </div>
    <!--数据展示-->
    <div class="ibox-content" id="administrator">
        <div style="width: 95%">
            <table class="table table-striped table-bordered " style="text-align: center" id="table">
                <thead>
                <tr>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">管理的站点</th>
                    <th style="text-align: center">可进行的操作</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td style="width: 200px" th:text="${user.username}">username</td>
                    <td style="text-align: center" ><span th:each="station:${user.stationName}" th:text="${station}+'&nbsp'"></span></td>
                    <td style="width: 500px">
                        <div style="float: left;width: 100px"><input type="checkbox" th:if="${user.sadd} eq '1'" th:attr="checked='checked'" onchange="sadd(this.id)" th:id="${user.id}">
                                                              <input type="checkbox" th:if="${user.sadd} eq '0'" onchange="sadd(this.id)" th:id="${user.id}">添加物体</div>
                        <div style="float: left;width: 100px"><input type="checkbox" th:if="${user.sdelete} eq '1'" th:attr="checked='checked'" onchange="sdelete(this.id)" th:id="${user.id}">
                                                              <input type="checkbox" th:if="${user.sdelete} eq '0'" onchange="sdelete(this.id)" th:id="${user.id}">删除物体</div>
                        <div style="float: left;width: 100px"><input type="checkbox" th:if="${user.supdate} eq '1'" th:attr="checked='checked'" onchange="supdate(this.id)" th:id="${user.id}">
                                                              <input type="checkbox" th:if="${user.supdate} eq '0'" onchange="supdate(this.id)" th:id="${user.id}">修改物体名称</div>
                        <div style="float: left;width: 100px"><input type="checkbox" th:if="${user.ssupdate} eq '1'" th:attr="checked='checked'" onchange="ssupdate(this.id)" th:id="${user.id}">
                                                              <input type="checkbox" th:if="${user.ssupdate} eq '0'" onchange="ssupdate(this.id)" th:id="${user.id}">修改站点名称</div>
                    </td>
                    <td style="width: 200px">
                        <a th:id="${user.id}" data-toggle="modal" data-target="#updateAdminModal" class="btn btn-sm btn-warning" onclick="openModal('/sys/toUpdateAdmin','updateAdminModal',this.id)">修改</a>
                        <a th:id="${user.id}" data-toggle='modal' data-target='#deleteAdminModal' class='btn btn-sm btn-danger' onclick="openModal('/sys/toDeleteAdmin','deleteAdminModal',this.id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--添加管理员模态框-->
<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除管理员模态框-->
<div class="modal fade" id="deleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改管理员模态框-->
<div class="modal fade" id="updateAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script th:replace="import/script :: script"></script>
</body>
</html>