<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="import/head :: head"><meta charset="UTF-8"><title></title></head>

<script>
    $(document).ready(function() {

        var userId = [[${user.id}]];
        var supdate =[[${user.supdate}]];
        var sadd =[[${user.sadd}]];
        var sdelete =[[${user.sdelete}]];
        var ssupdate =[[${user.ssupdate}]];



        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"http://localhost:8080/admin/adminStation",
            type:"post",
            async:false,
            data:{"userId":userId},
            dataType:"json",
            success:function (data) {

                var html = "";
                for(var i=0;i<data.data.length;i++) {
                    html +="<div class=\"panel-group\"><div class=\"panel panel-default\">" +
                        "    <div class=\"panel-heading\" style=\"background:#5599FF; color:#FFF\"><h4 class=\"panel-title\">" +
                        "        <a data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#"+i+"\">"+data.data[i].stationName+"" +
                        "            <span style='margin-left: 85%;display: inline'>"+
                        "               <a id = '"+data.data[i].stationName+"' data-toggle=\"modal\" data-target=\"#addStationModal\" class=\"btn btn-sm btn-success sadd\" onclick=\"openModal('/admin/toAddStation','addStationModal',this.id)\">添加物体</a>" +
                        "               <a id = '"+data.data[i].stationId+"' data-toggle=\"modal\" data-target=\"#updateStationModal\" class=\"btn btn-sm btn-warning ssupdate\" onclick=\"openModal('/admin/toUpdateStation','updateStationModal',this.id)\">修改名称</a>" +
                        // "               <a id = '"+data.data[i].stationId+"' data-toggle=\"modal\" data-target=\"#deleteStationModal\" class=\"btn btn-sm btn-danger\"  onclick=\"openModal('/admin/toDeleteStation','deleteStationModal',this.id)\">删除站点</a>
                        " </span></a></h4></div>" +
                        "<div id=\""+i+"\" class=\"panel-collapse collapse in\"><table class=\"table table-striped table-bordered\">" +
                        "<thead><tr><th style='text-align:center'>物体ID</th><th style='text-align:center'>物体名称</th><th style='text-align:center'>所在楼层</th><th style='text-align:center'>物体分组</th><th style='text-align:center;width: 600px'>监控</th><th style='text-align:center'>操作</th></tr></thead><tbody>" ;
                    for(var j=0;j<data.data[i].things.length;j++) {
                        html+="<tr><td style='width:200px;text-align: center'>"+data.data[i].things[j].tid+"</td><td style='text-align: center'>"+data.data[i].things[j].tname+"</td><td style='text-align: center'>"+data.data[i].things[j].tposition+"</td><td style='text-align: center'>"+data.data[i].things[j].tgroup+"</td><td style='text-align: center'>"+data.data[i].things[j].tcamera+"</td>" +
                            "  <td style=\"text-align: center;\">"+
                            "      <a href='#' id='"+data.data[i].things[j].id+"' data-toggle=\"modal\" data-target=\"#updateThingModal\" class=\"btn btn-sm btn-warning supdate\" onclick=\"openModal('/admin/toUpdateThing','updateThingModal',this.id)\">修改</a>" +
                            "      <a id='"+data.data[i].things[j].id+"' data-toggle='modal' data-target='#deleteThingModal' class='btn btn-sm btn-danger sdelete' onclick=\"openModal('/admin/toDeleteThing','deleteThingModal',this.id)\">删除</a>" +
                            "  </td></tr>";
                    }
                    html+="</tbody></table></div></div></div>";
                }
                document.getElementById("stationDetail").innerHTML = html;
            }
        });

        if(supdate===0){
            $(".supdate").attr({
                "onclick":"openModal('/admin/noAuthority','noAuthorityModal')",
                "data-target":"#noAuthorityModal"
            });
        }else{
            $(".supdate").attr({
                "onclick":"openModal('/admin/toUpdateThing','updateThingModal,this.id')",
                "data-target":"#noAuthorityModal"
            });
        }
        if(sadd===0){
            $(".sadd").attr({
                "onclick":"openModal('/admin/noAuthority','noAuthorityModal')",
                "data-target":"#noAuthorityModal"
            });
        }else{
            $(".sadd").attr({
                "onclick":"openModal('/admin/toUpdateThing','updateThingModal,this.id')",
                "data-target":"#noAuthorityModal"
            });
        }
        if(sdelete===0){
            $(".sdelete").attr({
                "onclick":"openModal('/admin/noAuthority','noAuthorityModal')",
                "data-target":"#noAuthorityModal"
            });
        }else{
            $(".sdelete").attr({
                "onclick":"openModal('/admin/toDeleteThing','deleteThingModal,this.id')",
                "data-target":"#noAuthorityModal"
            });
        }
        if(ssupdate===0){
            $(".ssupdate").attr({
                "onclick":"openModal('/admin/noAuthority','noAuthorityModal')",
                "data-target":"#noAuthorityModal"
            });
        }else{
            $(".ssupdate").attr({
                "onclick":"openModal('/admin/toUpdateStation','updateStationModal,this.id')",
                "data-target":"#noAuthorityModal"
            });
        }
    });
</script>
<body>
<div class="ibox float-e-margins" >
    <div class="ibox-title">
        <h3 style="display: inline;">
            我管理的站点：
        </h3>
    </div>
    <!--数据展示-->
    <div class="ibox-content" id="stationDetail">
        <!--        <div class="panel-group"></div>-->
    </div>
</div>

<!--修改物体名称模态框-->
<div class="modal fade" id="updateThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改站点名称模态框-->
<div class="modal fade" id="updateStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除站点模态框-->
<div class="modal fade" id="deleteStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除物体模态框-->
<div class="modal fade" id="deleteThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--没有权限模态框-->
<div class="modal fade" id="noAuthorityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script th:replace="import/script :: script"></script>
</body>
</html>