<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="import/head :: head">
    <meta charset="UTF-8">
    <title>物体分组</title>
</head>
<body>
<div class="ibox float-e-margins" >
    <div class="ibox-title">
        <h3 style="display: inline;">
            物体分组<input type="button" class="btn btn-success" data-toggle="modal" data-target="#addThingGroupModal" value="新建分组" style="margin-left: 80%;display: inline" onclick="openModal('/admin/toAddThingGroup','addThingGroupModal')"/>
        </h3>
    </div>
    <!--数据展示-->
    <div class="ibox-content">
        <div class="panel-group" th:each="thingGroup,iterStat:${thingGroups}">
            <div class="panel panel-default">
                <div class="panel-heading" style="background:#5599FF;color: #FFF">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" th:href="'#'+${iterStat.count}">
                            <span th:text="${thingGroup.groupName}"></span>
                            <span style="margin-left: 80%;display: inline">
                                <a data-toggle="modal" data-target="#setThingGroupModal" class="btn btn-sm btn-success" onclick="openModal('/admin/toSetThingGroup','setThingGroupModal',this.id)" th:text="添加物体"></a>
                                <a data-toggle="modal" data-target="#updateStationModal" class="btn btn-sm btn-warning" onclick="openModal('/admin/toUpdateStation','updateStationModal',this.id)">修改名称</a>
                            </span>
                        </a>
                    </h4>
                </div>
                <div th:id="${iterStat.count}" class="panel-collapse collapse in">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center">物体ID</th>
                            <th style="text-align: center">物体名称</th>
                            <th style="text-align: center">所在楼层</th>
                            <th style="text-align: center">物体类型</th>
                            <th style="text-align: center">监控</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px;text-align: center">tid</td>
                            <td style="text-align: center">tname</td>
                            <td style="text-align: center">tposition</td>
                            <td style="text-align: center">tgroup</td>
                            <td style="text-align: center">tcamera</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--修改物体名称模态框-->
<div class="modal fade" id="updateThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--修改站点名称模态框-->
<div class="modal fade" id="updateStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--设置物体分组模态框-->
<div class="modal fade" id="setThingGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--删除物体模态框-->
<div class="modal fade" id="deleteThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--没有权限模态框-->
<div class="modal fade" id="noAuthorityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!--添加物体分组模态框-->
<div class="modal fade" id="addThingGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script th:replace="import/script :: script"></script>
</body>
</html>