<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">新增物体</h4>
        </div>
        <div class="modal-body" style="width: 200px"><span >物体ID：<input type="text" id="ThingsId" /></span></div>
        <div class="modal-body" style="width: 200px"><span >物体名称：<input type="text" id="Name" /></span></div>
        <div class="modal-body" style="width: 200px"><span >所在楼层：<input type="text" id="Position" /></span></div>
        <div class="modal-body" style="width: 200px"><span >监控：<input type="text" id="Camera" /></span></div>
        <div class="modal-body" style="width: 200px"><span >物体分组：<select id="Group" style="width: 172px;height: 25px">
                                                                            <option value="camera">摄像头</option>
                                                                            <option value="door">闸机</option>
                                                                            <option value="securitycheck">安检机</option>
                                                                            <option value="sellticket">售票亭</option>
                                                                            <option value="entrance">出入口</option>
                                                                      </select></span></div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="addThing(this.id)">确定添加</button>
        </div>
    </div>
</div>
</html>

<script>
    function addThing(id) {

        var tid = $("#ThingsId").val();
        var obj = document.getElementById('Group');
        var index = obj.selectedIndex;
        var tgroup = obj.options[index].text;
        var tname = $("#Name").val();
        var tposition = $("#Position").val();
       // var tgroup = $("#Group").val();
        var tcamera = $("#Camera").val();

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/admin/AddThing",
            data:{'tid':tid,'tname':tname,'tposition':tposition,'tgroup':tgroup,'tcamera':tcamera,'stationId':id},
            type:"POST",
            dataType:"text",
            success:function (data) {
                alert(data);
                $('#addThingModal').modal('hide')
                window.location.reload();
            }
        })
    }
</script>
