<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">新增物体</h4>
        </div>
        <div class="modal-body" style="width: 200px"><span >物体ID：<input type="text" id="ThingsId" /></span></div>
        <div class="modal-body" style="width: 200px"><span >物体名称：<input type="text" id="Name" /></span></div>
        <div class="modal-body" style="width: 200px"><span >所在楼层：<input type="text" id="Position" /></span></div>
        <div class="modal-body" style="width: 200px"><span >物体分组：<input type="text" id="Group" /></span></div>
        <div class="modal-body" style="width: 200px"><span >监控：<input type="text" id="Camera" /></span></div>

<!--        物体名称：<input type="text" id="Name" />-->
<!--            所在楼层：<input type="text" id="Position" />-->
<!--            物体分组：<input type="text" id="Group" />-->
<!--            监控：<input type="text" id="Camera" /></div>-->

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button th:id="${id}" type="button" class="btn btn-primary" onclick="addThing(this.id)">确定添加</button>
        </div>
    </div>
</div>
</html>

<script>
    function addThing(id) {

        var tid = $("#ThingsId").val();
        var tname = $("#Name").val();
        var tposition = $("#Position").val();
        var tgroup = $("#Group").val();
        var tcamera = $("#Camera").val();

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/admin/AddThing",
            data:{'tid':tid,'tname':tname,'tposition':tposition,'tgroup':tgroup,'tcamera':tcamera,'stationId':id},
            type:"POST",
            dataType:"text",
            success:function (data) {
                alert(data);
                $('#addThingModal').modal('hide')
            }
        })
    }
</script>
