<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">删除站点</h4>
        </div>
        <div class="modal-body">确定要删除该站点吗？</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" th:id="${id}" class="btn btn-primary" onclick="stationDelete(this.id)" >确定</button>
        </div>
    </div>
</div>
</html>

<script>
    function stationDelete(id) {
            $.ajax({
                // contentType: 'application/json;charset=UTF-8',
                url: "/admin/DeleteStation",
                data: {'stationId': id},
                type: "POST",
                dataType: "text",
                success: function (data) {
                    swal({
                        title: data,
                        type: "success"
                    },function(){
                        $('#deleteStationModal').modal('hide');
                        window.location.reload();
                    });
                }
            });
    }
</script>
