<style>
    li{
        list-style: none
    }
    ul{
        margin:0;
        padding:0;
        height: 81px;
        max-height: 81px;
        overflow-y:scroll
    }
</style>

<div class="modal-dialog" style="width: 300px" xmlns:th="http://www.thymeleaf.org" >
    <div class="modal-content" style="width: 400px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">管理的站点</h4>
        </div>
        <div style="float: right;width: 160px;height: 115px;margin: 0 20px">
            <div>已选择站点
            </div>
            <div style="border:1px solid #0C0C0C;height: 83px;max-height: 83px">
                <ul id="select">
                    <li th:each="station:${stationList}" style="font-size: 16px">
                        <span th:text="${station.stationName}"></span>
                        <a href='javascript:void(0);' onclick='$(this).parent().remove()'>
                            <span class='glyphicon glyphicon-remove' style='float: right'></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="width: 250px">
            <div class="modal-body" style="width: 200px">请选择管理的线路：<select style="width: 172px;height: 25px" id="line"></select></div>
            <div class="modal-body" style="width: 200px">请选择管理的站点：<select style="width: 172px;height: 25px" id="station"><option>请选择站点</option></select></div></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!--/*@thymesVar id="userId" type="java"*/-->
            <button th:id="${userId}" type="button" class="btn btn-primary" onclick="updateAdmin(this.id)" >确定</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var doption = document.createElement("option");
        $(doption).text("请选择线路");
        $("#line").append(doption);
        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/admin/allLine",
            type:"get",
            dataType:"json",
            success:function (data) {
                for(var i=0;i<data.data.length;i++){
                    var option = document.createElement("option");
                    $(option).text(data.data[i].lineName);
                    $('#line').append(option);
                }
            }
        });




        $('#line').change(function () {
            $("#station").empty();
            var doption = document.createElement("option");
            $(doption).text("请选择站点");
            $("#station").append(doption);

            $.ajax({
                // contentType: 'application/json;charset=UTF-8',
                url:"/admin/allLine",
                type:"get",
                dataType:"json",
                success:function (data) {
                    var obj = document.getElementById('line');
                    var index = obj.selectedIndex;
                    var text = obj.options[index].text;
                    for(var i=0;i<data.data.length;i++){
                        if(data.data[i].lineName===text){
                            for(var j=0;j<data.data[i].station.length;j++){
                                var option = document.createElement("option");
                                $(option).text(data.data[i].station[j].stationName);
                                $('#station').append(option);
                            }
                        }
                    }
                }
            });
        });
        $("#station").change(function () {
            var obj = document.getElementById('station');
            var index = obj.selectedIndex;
            var text = obj.options[index].text;

            var flag=false;

            $("#select").find("li").each(function () {
               if($(this).text()===text){
                   swal({
                       title: "该站点已存在",
                       type: "error"
                   });
                   flag =true
               }
            });
            if(!flag&&text!=="请选择站点"){
                $("#select").append("<li style='font-size: 16px'>"+text+"<a href='javascript:void(0);' onclick='$(this).parent().remove()'><span class='glyphicon glyphicon-remove' style='float: right'></span></a></li>");
            }
        })
    });

    function updateAdmin(id) {

        var obj = document.getElementById('station');
        var index = obj.selectedIndex;

        var stationList = [];
        $("#select").find("li").each(function () {
            stationList.push($(this).text())
        });

        $.ajax({
            // contentType: 'application/json;charset=UTF-8',
            url:"/sys/updateAdmin",
            data:{'userId':id,"stationName":stationList},
            type:"POST",
            dataType:"json",
            success:function (data) {

                if(data.code===0){
                    swal({
                        title: data.msg,
                        type: "error"
                    });
                }else {
                    swal({
                        title: data.data,
                        type: "success"
                    },function(){
                        $('#addAdminModal').modal('hide');
                        window.location.reload();
                    });
                }
            }
        })
    }
</script>