<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="chrome=1">-->
<!--    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">-->
<!--    <style type="text/css">-->
<!--        body,html,#container{-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--            margin: 0-->
<!--        }-->
<!--    </style>-->
<!--    <title>地铁线路图</title>-->
<!--&lt;!&ndash;    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>&ndash;&gt;-->

<!--</head>-->
<!--<body>-->
<!--<div id="container" tabindex="0"></div>-->
<!--<script src="https://webapi.amap.com/maps?v=1.4.15&key=565f4428b3187dfafb7274ddcfa50eb8"></script>-->
<!--<script>-->
<!--    var map = new AMap.Map('container',{-->
<!--        zoom:14,-->
<!--        center:[104.069647,30.631362]-->
<!--    });-->
<!--    map.setMapStyle('amap://styles/4495319745976b5be5b1e0ad3f18ed11');-->
<!--  //  map.setCity("成都市");-->
<!--   // map.setZoomAndCenter(10, [104.069647, 30.631362]);-->

<!--    var circle = new AMap.Circle({-->
<!--        map:map,-->
<!--        center:[104.066143,30.605106],-->
<!--        radius:50,-->
<!--        fillOpacity:0,-->
<!--        strokeOpacity:0-->
<!--    });-->

<!--    circle.on('click',function f() {-->
<!--        location.href="https://www.thingjs.com/s/7ac09657392d26dd657c1d82";-->
<!--    });-->

<!--    var bounds =  new AMap.Bounds([103.734775,30.344803], [104.446826,30.87018]);-->
<!--    map.setLimitBounds(bounds);-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
<html>
    <head>
        <meta charset="UTF-8">
        <!--重要meta, 必须!-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no"/>
        <title>SUBWAY</title>
    </head>
    <body>
    <div id="mySubway"></div>
    <script src="https://webapi.amap.com/subway?v=1.0&amp;key=565f4428b3187dfafb7274ddcfa50eb8&amp;callback=cbk"></script>
    <script type="text/javascript">

        window.cbk = function(){
            var mySubway = subway("mySubway", {
                adcode: 5101
                //easy: 2
            });

            mySubway.event.on("subway.complete", function(ev, info) {
                var id = info.id;
            });

            //点击站点，显示此站点的信息窗体
            mySubway.event.on("stationName.touch", function(ev, info) {
                var id = info.id;
                mySubway.stopAnimation();
                mySubway.addInfoWindow(id, {});
                var center = mySubway.getStCenter(id);
                mySubway.setCenter(center);
            });

            //点击线路名，高亮此线路
            mySubway.event.on("lineName.touch", function(ev, info) {
                mySubway.showLine(info.id);
                var select_obj = qs('#g-select');
                mySubway.setFitView(select_obj);
                var center = mySubway.getSelectedLineCenter();
                mySubway.setCenter(center);
            });

            //点击空白, 关闭infowindow
            mySubway.event.on("subway.touch", function() {
                mySubway.clearInfoWindow();
            });

            //设置起点
            mySubway.event.on("startStation.touch", function(ev, info) {
                mySubway.stopAnimation();
                mySubway.clearInfoWindow();
                mySubway.setStart(info.id, {});
                startInfo = info;
                route();
            });

            //设置终点
            mySubway.event.on("endStation.touch", function(ev, info) {
                mySubway.stopAnimation();
                mySubway.clearInfoWindow();
                mySubway.setEnd(info.id, {});
                endInfo = info;
                route();
            });

            //路线规划
            var startInfo = {},
                endInfo = {};
            function route() {
                if (startInfo.id && endInfo.id) {
                    mySubway.route(startInfo.id, endInfo.id, {});
                    startInfo = {};
                    endInfo = {};
                }
            }

        };


    </script>
    </body>
</html>
